.centerLogo{
    margin-top: 55%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.center{
    margin: 0 auto;
    
}
.inputLogin{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}
.centerLlevo{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}