<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reset</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="./assets/image/TLlevo_Logo.png" class="centerLlevo"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-padding">
    <ion-row class="inputLogin">
        <ion-input 
            class="color"   
            type="Email"
            fill="solid"
            label="Email"
            labelPlacement="floating"
            helperText="Enter a valid email"
            errorText="Invalid email"
            ngModel
            email
        ></ion-input>
      </ion-row>
  </ion-grid>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-button shape="round" href="inicio"  class="center">Reset</ion-button>
  </ion-row>
    <ion-row>
        <ion-text class="center">
            <h6>Don´t have an account?  <a href="register">Sign Up</a></h6>
        </ion-text>
    </ion-row>
</ion-grid>
<ion-grid>
    <ion-row>    
        <ion-img src="./assets/image/SedeMaipu.png" class="centerLogo"></ion-img>
    </ion-row>
</ion-grid>
</ion-content>
