.size-font-temp{
    font-size: 40px;
    font-weight: normal;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}
.size-font{
    font-size: 10px;
    font-weight: normal;
    color: whitesmoke;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}