<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign in</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-grid>
    <ion-col>
        <ion-img src="./assets/image/TLlevo_Logo.png" class="centerLlevo"></ion-img>
      </ion-col>
</ion-grid>

<!--Login-->
<ion-content class="ion-padding">    
    <form [formGroup]="formLogin" (ngSubmit)="loginUser">
        <ion-item class="ion-padding-bottom">
            <ion-input 
                formControlName="username"
                type="text"
                fill="solid"
                label="Username or Email"
                labelPlacement="floating"
                helperText="Enter a valid Username or email"
                errorText="Invalid email"
            ></ion-input>
        </ion-item>

        <div *ngIf="formLogin.get('username')?.invalid &&  (formLogin.get('username')?.dirty || formLogin.get('username')?.touched)">
            <div style="color: red " *ngIf="formLogin.get('username')?.hasError('required')">
                *Username es Obligatoria
            </div>
            <div style="color:red" *ngIf="formLogin.get('username')?.hasError('minlength')">
                *Username debe tener al menos 3 caracteres
            </div>
        </div>

        <ion-item>
            <ion-input                   
                formControlName="password"
                [type]="passwordFieldType"
                label="Password"
                labelPlacement="floating"
                helperText=""
                errorText="Invalid password">
              </ion-input>
              <ion-icon slot="end" name="eye" [color]="passwordFieldType === 'text' ? 'dark' : 'gray'" (click)="togglePasswordVisibility()"></ion-icon>
        </ion-item>

        <div style="color: red" *ngIf="formLogin.get('password')?.invalid && (formLogin.get('password')?.dirty || formLogin.get('password')?.touched)">
            <div *ngIf="formLogin.get('password')?.hasError('required')">
                *Password es Obligatoria
            </div>
            <div style="color: red" *ngIf="formLogin.get('password')?.hasError('minlength')">
                *Password debe tener al menos 6 caracteres
            </div>
        </div>

        
    </form>
    
<ion-grid class="ion-padding">
    <ion-row>
        <ion-button  (click)= "loginUser()" shape="round" class="center">Sign in</ion-button>
    </ion-row>
    <ion-row>
        <ion-text class="center">
            <h6>Don´t have an account? <a [routerLink]="['/register']">Sign up</a></h6>
        </ion-text>
    </ion-row>
</ion-grid>

<!--End Login-->

<!--Footer-->
<ion-grid class="ion-padding">
    <ion-row >
        <ion-text class="center" ><h6 class="ion-padding-top">Or sign in with </h6></ion-text>
    </ion-row>
    <ion-row>
        <ion-col size="4" class="ion-text-center"><ion-icon name="logo-google"></ion-icon></ion-col>
        <ion-col size="4" class="ion-text-center"><ion-icon name="logo-instagram"></ion-icon></ion-col>
        <ion-col size="4" class="ion-text-center"><ion-icon name="logo-facebook"></ion-icon></ion-col>
    </ion-row>
</ion-grid>
<ion-grid>
    <ion-row>    
        <ion-img src="./assets/image/SedeMaipu.png" class="centerLogo"></ion-img>
    </ion-row>
</ion-grid>
<!--End Footer-->
</ion-content>
