<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>delete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ID {{ user.id }}</ion-card-subtitle>
      <ion-card-title>Realmente desea eliminar a {{ user.username }}</ion-card-title>
    </ion-card-header>
    <ion-card-content> 
      <ion-button (click)="deleteUser()" expand="block" color="danger">Eliminar</ion-button>

    </ion-card-content> 
  </ion-card>  
</ion-content>
