.avatar{
    margin: 0 auto;
    margin-top: 10%;
}
.center{
    margin: 0 auto;
    
}
.centerbtn{
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .centerLogo{
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}