<ion-header [translucent]="true">
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
              <ion-img src="./assets/image/TLlevo_Logo.png" class="center"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-button shape="round" class="centerbtn" >BIENVENIDO</ion-button>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-img src="./assets/image/SedeMaipu.png" class="centerLogo"></ion-img>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>