<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ID: {{ user.id }}</ion-card-subtitle>
      <ion-card-title>Nombre:{{ user.email }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <span>email: {{ user.email }}</span>
      <span>phone: {{ user.phoneNumber }}</span>
    </ion-card-content>
    <ion-button [routerLink] = "['/update', user.id ]">Actualizar
    <ion-icon name = "create"></ion-icon></ion-button>
    <ion-button [routerLink] = "['/delete', user.id]" color = "danger">
    <ion-icon name = "trash"></ion-icon></ion-button>
  </ion-card>
</ion-content>
