<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="white"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="./assets/image/TLlevo_Logo_W.png" class="logo"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="./assets/image/TLlevo_Logo.png" class="center"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img src="./assets/image/SedeMaipu.png" class="centerLogo"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
